{% extends 'layout.html' %}

{% block content %}

  <div class="jumbotron">
  <h1 class="display-4">Welcome to my feelings app.</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<div class="container">
<!--    Example of row with columns-->
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolores earum enim impedit labore magni recusandae tempora totam. Architecto excepturi expedita illum in non nostrum, numquam possimus quo quod sit?</p>
            <p>
                <a href="#" role="button" class="btn btn-secondary">
                    View details >>
                </a>
            </p>
        </div>
         <div class="col-md-4">
            <h2>Heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolores earum enim impedit labore magni recusandae tempora totam. Architecto excepturi expedita illum in non nostrum, numquam possimus quo quod sit?</p>
            <p>
                <a href="#" role="button" class="btn btn-secondary">
                    View details >>
                </a>
            </p>
        </div>
         <div class="col-md-4">
            <h2>Heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolores earum enim impedit labore magni recusandae tempora totam. Architecto excepturi expedita illum in non nostrum, numquam possimus quo quod sit?</p>
            <p>
                <a href="#" role="button" class="btn btn-secondary">
                    View details >>
                </a>
            </p>
        </div>
    </div>

</div>

{% endblock %}